a:hover{
    text-decoration: none;
}

ul.nav-items {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 80%;
    font-size: 18px;

}
.nav-bar{
    background-color: #333;
    width: 100%;
}

.nav-item{

}
