<div class="flight-table">

    <div class="flight" *ngFor="let flight of flights">
        
    <p  class ="item"> {{flight.flight_number}} </p>
    <p class ="item"> {{flight.flight_number}} </p>
    <p class ="item"> {{flight.leg_number}} </p>
    <p class ="item"> {{flight.departure_airport_code}} </p>
    <p class ="item"> {{flight.arrival_airport_code}} </p>
    <p class ="item"> {{flight.scheduled_arrival_time}} </p>
    <p class ="item"> {{flight.scheduled_departure_time}} </p>
    <p class ="item"> {{flight.fare_code}} </p>
    <p class ="item"> {{flight.amount}} </p>


    </div>
</div>