<div class="customer-table">

  

    <h1> FFC CUSTOMER</h1>
    <div class="row">

      <div class="col-sm-12" class="card" style="width: 18rem;" *ngFor="let ffc of ffcustomer">
        <img src="../../assets/people.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ffc?.customer_name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p class="tag"> Id </p>Customer Id : {{ffc?.customer_id}}</li>
          <li class="list-group-item"><p class="tag"> Passaport Number </p>{{ffc?.passaport_number}}</li>
          <li class="list-group-item"><p class="tag"> Segment </p>{{ffc?.segment}}</li>
          <li class="list-group-item"><p class="tag"> Total Milleauge </p>{{ffc?.total_milleage}}</li>
          <li class="list-group-item"><p class="tag"> Airline </p>{{ffc?.company_name}}</li>
      
        </ul>
        
      </div>
        
      </div>

    <h1> Other Customer</h1>

    <div class="row">

      <div class="col-sm-12" class="card" style="width: 18rem;" *ngFor="let customer of customers">
        <img src="../../assets/people.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{customer?.customer_name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p class="tag"> Id </p>Customer Id : {{customer?.customer_id}}</li>
          <li class="list-group-item"><p class="tag"> Passaport_number </p>{{customer?.passaport_number}}</li>
      
        </ul>
       
      </div>
        
      </div>
</div>
