.ffcustomer{
    display: flex;
}

.item{
    margin: 20px;
}


.customer{
    display: flex;
}

.image{
    height: 1px;
    width: 5px;
}

.img-thumbnail{
    width: 100px;
}

.tag{
    font-weight: bold ;
    display: inline-block;
    padding-right: 5px;
}